.manrope-font{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    
    
  }
  .primary-bg{
    background-color: rgb(171, 239, 95);
  }
  .primary-text-color{
    color: rgb(171, 239, 95);
  }
  .text-p{
    color:#737373;
  }
  .text-h1-color{
    color: #212121;
  }